.display-12{
    font-size: 30px;
}

.form-label{
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.contact{
    /* background: url('https://cssgradient.io/images/css-gradient-swatches-80de4710.svg'); */
    background: url('https://img.freepik.com/premium-vector/contact-us-concept-illustration_86047-973.jpg?w=740');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    /* make background image blur */
    backdrop-filter: blur(5px);
}

.home-screen-content{
    padding: 10px;
    background: #ffffffa6;
    border-radius: 8px;
}