<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">LATEST NEWS</h1>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let item of newsList">
                    <div class="card news-item" (click)="navigateToNews(item.new_id)">
                        <img [src]="item.Image" class="card-img-top news-img" alt="...">
                        <div class="card-body news-content">
                            <h5 class="card-title news-title">{{item.Headline}}</h5>
                            <p class="card-text news-desc">{{item.Description}}</p>
                            <p class="card-text news-author"><small class="text-muted">By {{item.author}} on {{item.Date}}</small></p>
                            <a class="main-btn" >READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

