<div class="container">
    <div class="row">

        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Sign Up</h1>
            <form class="form">
                <div class="flex-column">
                    <label>Name </label>
                </div>
                <div class="inputForm">
                    <img src="assets/user.svg" alt="">
                    <input type="text" class="input" placeholder="Enter your Name" />
                </div>
                <div class="flex-column">
                    <label>Email </label>
                </div>
                <div class="inputForm">
                    <img src="assets/email.svg" alt="">
                    <input type="text" class="input" placeholder="Enter your Email" />
                </div>

                <div class="flex-column">
                    <label>Password </label>
                </div>
                <div class="inputForm">
                    <img src="assets/lock.svg" alt="">
                    <input type="password" class="input" placeholder="Enter your Password" />
                </div>

                <button class="button-submit">Sign Up</button>
                <p class="p">Already have a account? <span class="span" (click)="navigateToLogin()">login</span></p>
                <div class="flex-row">
                    <button class="btn google">
                        <img src="assets/google.svg" alt="">
                        Google
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>