<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/forgot-password.svg" alt="Forgot Password">
        </div>
        <div class="col-md-6">
            
            
            <div class="form-container">
                <h3 class="text-left">Forgot <br> Your Password? </h3><br>
                <form class="form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Enter your email" required="">
                    </div>

                    <button class="form-submit-btn" type="submit">Send Email</button>
                </form>

                <p class="signup-link">
                    Don't have an account?
                    <span class="signup-link link" style="text-decoration: none; cursor: pointer;" (click)="navigateToSignup()"> Sign up now</span>
                </p>
            </div>
        </div>
    </div>
</div>