<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Forgot Password</h1>
            <div class="form-container">
                <!-- <div class="logo-container">
                    Forgot Password
                </div> -->

                <form class="form">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Enter your email" required="">
                    </div>

                    <button class="form-submit-btn" type="submit">Send Email</button>
                </form>

                <p class="signup-link">
                    Don't have an account?
                    <span href="#" class="signup-link link" (click)="navigateToSignup()"> Sign up now</span>
                </p>
            </div>
        </div>
    </div>
</div>