<div class="custom-screen text-center">
    <div class="home-screen-content mx-auto" style="background: #d6e6ff !important; padding: 20px !important; border-radius: 20px !important;">
        <h1 class="display-12 mx-auto">I have worked on various <span class="gradient-connect">Projects</span> utilizing
            technologies such as:</h1>
        <p class="lead text-gray mx-auto"> I have worked on a variety of projects that demonstrate my skills and
            expertise in modern web development. Below are some of the key projects I’ve completed, showcasing my
            proficiency in various technologies.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-warning">
                        <i class="fa-brands fa-java"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Java Spring Boot</h4>
                        <p class="mt-1">Utilized Spring Boot to create RESTful APIs for seamless backend integration in
                            my projects.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-brands fa-angular"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Angular</h4>
                        <p class="mt-1">Leveraged Angular for building responsive single-page applications with dynamic
                            content.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-solid fa-database"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">MongoDB</h4>
                        <p class="mt-1">Employed MongoDB for data storage, ensuring flexibility and easy scalability in
                            my applications.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-warning">
                        <i class="fa-solid fa-database"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">MySql</h4>
                        <p class="mt-1">Utilized MySQL for efficient data storage and retrieval in my projects.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-solid fa-fire"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Firebase</h4>
                        <p class="mt-1">Employed Firebase as a backend-as-a-service for real-time web applications.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-solid fa-cloud"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Vercel</h4>
                        <p class="mt-1">Utilized Vercel for deploying static sites with optimal performance and
                            serverless functions.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-warning">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                    </div>
                    <div class="ms-3 languages-text main-color">
                        <h4 class="h5 main-color">Netlify</h4>
                        <p class="mt-1">Leveraged Netlify for quick deployments and hosting of my static web
                            applications.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-brands fa-node-js"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Node.js</h4>
                        <p class="mt-1">Utilized Node.js for building server-side applications and APIs.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-brands fa-react"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">React</h4>
                        <p class="mt-1">Employed React for building dynamic and interactive user interfaces.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-brands fa-git"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Git</h4>
                        <p class="mt-1">Utilized Git for version control and collaborative development.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-brands fa-github"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">GitHub</h4>
                        <p class="mt-1">Utilized GitHub for version control and collaborative development.</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <ul class="list-unstyled">
                <li class="d-flex">
                    <div class="icon-wrapper border-success">
                        <i class="fa-brands fa-docker"></i>
                    </div>
                    <div class="ms-3 languages-text">
                        <h4 class="h5 text-dark">Docker</h4>
                        <p class="mt-1">Utilized Docker for containerization and efficient deployment.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row text-center m-0 mt-5">
    <div class="home-screen-content mx-auto">
        <h1 class="display-12 mx-auto">My Projects</h1>
        <p class="lead text-gray mx-auto">I have worked on various projects that demonstrate my skills and expertise in
            modern web development.</p>
    </div>
</div>

<div class="projects-container">
    <article class="card project-card" *ngFor="let project of projects">
        <section class="card__hero">
            <header class="card__hero-header">
                <!-- <span>${{ project.projectId }}</span> -->
                <!-- <div class="card__icon" (click)="navigateToGithub(project.github_url)">
                    <i class="fa-brands fa-github"></i>
                </div> -->
                <p class="p-0">{{project.description}}</p>
            </header>
            <!-- <img [src]="project.preview_img" alt="Project Preview" class="card__preview-img" width="100%" height="150"> -->
            <!-- <p class="card__job-title">{{ project.projectName }}</p> -->
        </section>

        <footer class="card__footer">
            <div class="card__job-summary">
                <div class="card__job-icon">
                    <img src="assets/add.png" height="40" width="40" alt="">
                </div>
                <div class="card__job">
                    <span class="card__job-title main-color">
                        {{ project.projectName }}
                    </span>
                </div>
            </div>
            <button class="card__btn" target="_blank" (click)="navigateToProject(project.url)">Explore</button>
        </footer>
    </article>

    <!-- add a suggestion question  -->

</div>

<div class="row text-center align-items-center justify-content-center p-0 m-0 mt-5">


    <div class="home-screen-content d-flex align-items-center justify-content-center mx-auto">
        <img class="img-fluid-screen"
            src="https://img.freepik.com/free-vector/software-engineer-statistician-visualizer-analyst-working-project-big-data-conference-big-data-presentation-data-science-concept_335657-1850.jpg?t=st=1731482593~exp=1731486193~hmac=eb07b6a9af0822a8188f99609f4e567a10fda9dcafeb2fc01c2167d98aa76c81&w=826"
            width="50%" alt="">

        <h1 class="display-12 mx-auto">Have a Project in Mind? Let's Collaborate</h1>
        <p class="lead text-gray mx-auto">I am always looking for new opportunities and collaborations. If you have a
            project that you would like to work on, please let me know!</p>
        <a class="main-btn" routerLink="/contact-me">Contact Me</a>


    </div>
</div>