<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="assets/logo.png" alt="Logo" height="30"> -->
      <h3 class="logo-text">Ved<span class="gradient-connect">O</span>ne</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" style="gap: 5px;">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#favorite-projects" >My work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link main-btn" href="#">Lets talk</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-spinner></app-spinner>
<router-outlet></router-outlet>

<!-- <footer>
  <p>&copy; 2024 Your Company</p>
</footer> -->