<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/icon.svg" alt="Logo" height="30">
      <h3 class="logo-text slide-border">Ved<span class="gradient-connect">O</span>ne</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" style="gap: 5px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" (click)="isExpanded = false">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-work">My work</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/demo"><b>News</b></a>
        </li> -->
        <!-- News Dropdown Start -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-target="#navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/news-home">E-Commerce</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/news-home">Technology</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/news-home">Business</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/news-home">Sports</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/news-home">Entertainment</a>
            </li>
          </ul>
        </li>
        <!-- News Dropdown End -->
        <li class="nav-item">
          <a class="nav-link" href="https://ddh1.netlify.app" target="_blank">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link main-btn" routerLink="/contact-me">Lets talk</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-toast></app-toast>
<app-spinner></app-spinner>
<router-outlet></router-outlet>

<app-footer></app-footer>
