<section>
    <div class="custom-screen text-center gradient-bg bg-red">
        <div class="home-screen-content mx-auto">
            <h1 class="display-12 mx-auto">Let's <span class="gradient-connect">Connect</span> and Build Together</h1>
            <p class="lead text-gray mx-auto"> I am an Angular and Spring Boot developer with 1.5+ years of experience
                in creating dynamic, high-performing applications. I am actively seeking new job opportunities while
                also taking on exciting freelance projects. Explore my work below and see how we can collaborate to
                bring ideas to life.</p>
            <div class="cta-btns">
                <a routerLink="/my-work" class="main-btn">Explore Projects</a>
                <a routerLink="/contact-me" class="btn btn-light">Contact Us</a>
            </div>
        </div>
    </div>

    <div class="custom-screen text-center p-0 pb-5">
        <div class="home-screen-content mx-auto">
            <h1 class="mx-auto">My <span class="gradient-connect">Services</span></h1>
            <p class="lead text-gray mx-auto">I offer a wide range of services to help you bring your ideas to life. From
                web development to UI/UX design, I have the skills and expertise to deliver exceptional results.</p>
            
            <!-- <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <div class="icon-wrapper border-warning">
                                <i class="fa-brands fa-java"></i>
                            </div>
                            <div class="ms-3 languages-text">
                                <h4 class="h5 text-dark">Java Spring Boot</h4>
                                <p class="mt-1">Utilized Spring Boot to create RESTful APIs for seamless backend integration in
                                    my projects.</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <div class="icon-wrapper border-success">
                                <i class="fa-brands fa-angular"></i>
                            </div>
                            <div class="ms-3 languages-text">
                                <h4 class="h5 text-dark">Angular</h4>
                                <p class="mt-1">Leveraged Angular for building responsive single-page applications with dynamic
                                    content.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section id="favorite-projects">
    <div class="container text-center favorite-projects">
        <span class="text-center text-gray">SOME OF MY FAVOURITE PROJECTS</span>
        <ul class="d-flex flex-wrap justify-content-center list-unstyled">
            <li class="list-group-item d-flex align-items-center">
                <img src="assets/chat.png" alt="">
                <span class="ml-2">ChatMate</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <img src="assets/add.png" alt="">
                <span class="ml-2">WeGallery</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <img src="assets/safe-box.png" alt="">
                <span class="ml-2">EduVault</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <img src="assets/document.png" alt="">
                <span class="ml-2">MyDocs</span>
            </li>
        </ul>
    </div>


</section>

<div class="row m-0">
    <div class="col-md-12 mt-4">
        <!-- <div class="text-center mt-5">
            <a routerLink="/my-work" class="main-btn">View All Projects</a>
            <h3>Time is Precious, Don't Waste It. Get Started..</h3>

        </div> -->
        <!-- <app-digital-clock></app-digital-clock> -->
    </div>
</div>





<!-- <section id="about">
    <div class="custom-screen text-center">
        <div class="home-screen-content mx-auto">
            <h1 class=" mx-auto">About me</h1>
        </div>
        <div class="about-me-content mx-auto">
            <h2 class="mx-auto">I am Dhanraj D. Hasure</h2>
            <p class="lead text-gray mx-auto">I am an Angular and Spring Boot developer who is passionate about building
                scalable and user-friendly web applications. I am currently working as a Software Engineer at <a
                    href="#">EPSoft</a>.</p>
        </div>
    </div>
</section> -->